#main_page{
  background:  url("../media/lavbackground.jpg");
  width: 100%;
  height: 100%;

}
#navbar{

}
.nav_links{
  margin-top: 1.25em;

}
.small_logo{
  font-size: 2em;
  height: 3.5em;
  width: 5em;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  right: 2em;
}
#home_page{
  width: 100%;
  text-align: center;
}
#lav_logo_big{
  width: 70%;
  
  position: relative;
  bottom: 7em;
  text-align: center;
}
